body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding: 20px 175px 130px 175px;
}

.hero > header {
    display: flex;
}

.right-links {
    margin-left: auto;
}

.right-links > ul {
    display: flex;
    column-gap: 10px;
}

.hero-main-content {
    display: flex;
}

.hero-main-content > .img {
    background-color: lightslategray;
    color: whitesmoke;
    margin-left: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hero-main-content > .left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-content > * {
    flex: 1;
}

.left-content > h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.right-links > ul > li,
.left-content > p {
    color: #E5E7EB;
    font-size: 18px;
}

.left-content > button {
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px 28px;
}

header > .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.random-info > h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.random-info > .cards {
    display: flex;
    column-gap: 100px;
}

.cards > .card {
    display: flex;
    flex-direction: column;
}

.card > .img {
    border: 3px lightseagreen solid;
    border-radius: 15px;
    max-width: 160px;
    height: 160px;
    flex: 1 1 auto;
}

.card > p {
    flex: 1;
    max-width: 160px;
    color: darkslategray;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 185px;
}

.quote-section > h2 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-section > p {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    margin-right: 60px;
}

.sign-up-section {
    display: flex;
    align-items: center;
    height: 390px
}

.blue-section {
    background-color: rgb(133, 179, 231);
    color: white;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 195px;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.left-content> h3 {
    font-weight: bold;
    font-size: 24px;
}

.left-content > * {
    margin: 0;
    padding: 0;
}

.blue-section > .sign-up {
    color: white;
    border: 3px solid white;
    background-color:rgb(133, 179, 231);
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 30px;
}

footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    margin: 0;
    color: white;
}